// small icon
.sIcon {
  width: 20px;
  height: 20px;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
// 直線
.straightLine::before {
  content: "";
  border-left: 1px solid #000;
  display: inline-block;
  height: 80%;
}
