<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="border">
      <!-- nav-bar -->
      <nav class="navbar navbar-expand-lg navbar-light container">
        <div class="container-fluid justify-content-lg-end">
          <!-- 漢堡選單 -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- logo -->
          <a
            href="index.html"
            class="
              text-primary
              position-lg-absolute
              top-50
              start-50
              translate-lg-middle
              hover
            "
          >
            <h1 class="fs-5 mb-lg-0">EXHIBINECTION</h1></a
          >
          <!-- cart icon -->
          <a
            class="nav-link position-relative order-lg-3 m-3 p-0"
            href="#"
            data-bs-toggle="offcanvas"
            data-bs-target="#cart"
          >
            <span class="material-icons text-dark"> confirmation_number </span>
            <span
              class="
                position-absolute
                top-0
                start-100
                translate-middle
                badge
                border border-light
                rounded-circle
                bg-danger
              "
            >
              3
            </span>
          </a>
          <!-- nav content -->
          <div
            class="collapse navbar-collapse flex-lg-grow-0"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- cart -->
      <div
        class="offcanvas offcanvas-end offcanvas-style bg-dark"
        data-bs-backdrop="false"
        tabindex="-1"
        id="cart"
        aria-labelledby="cartLabel"
        aria-controls="offcanvasRight"
      >
        <div class="offcanvas-header">
          <h3 class="offcanvas-title fs-2 text-white" id="cartLabel">
            Cart list
          </h3>
        </div>
        <div class="offcanvas-body px-4 px-lg-8 offcanvas-body-scrollbar">
          <!-- 2020 台味設計展 -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-1">
                <a href="#" class="fs-5 fw-bold mt-1 ms-1"
                  ><span class="material-icons"> clear </span></a
                >
              </div>
              <div class="col-4 pt-7 pb-6">
                <img
                  src="./assets/images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg"
                  alt="2020 台味設計展"
                  class="object-fit-cover w-100 card-img-s"
                />
              </div>
              <div class="col-7 pt-7 pb-6">
                <div class="card-body p-0 d-flex justify-content-around">
                  <div>
                    <h4 class="card-title fs-7 fw-bold mb-2">
                      2020 台味設計展
                    </h4>
                    <p class="card-text fs-8 fw-bold mb-2">01 JUN — 31 OCT</p>
                    <p class="card-text fs-8 text-gray mb-4">全票</p>
                    <p class="card-text fs-6 fw-bold mb-0">NT$350</p>
                  </div>
                  <div
                    class="
                      d-flex
                      flex-column flex-lg-row
                      justify-content-center
                      align-items-center
                    "
                  >
                    <a href="#" class="fs-6 fw-bold mb-1 mb-lg-0 me-lg-3"
                      ><span class="material-icons"> remove </span></a
                    >
                    <p class="card-text fs-6 fw-bold mb-2 me-lg-3">01</p>
                    <a href="#" class="fs-6 fw-bold mb-1 mb-lg-0"
                      ><span class="material-icons"> add </span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- No.22 線上設計展 -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-1">
                <a href="#" class="fs-5 fw-bold mt-1 ms-1"
                  ><span class="material-icons"> clear </span></a
                >
              </div>
              <div class="col-4 pt-7 pb-6">
                <img
                  src="./assets/images/michel-catalisano--a0D9LpcKV8-unsplash.jpg"
                  alt="No.22 線上設計展"
                  class="object-fit-cover w-100 card-img-s"
                />
              </div>
              <div class="col-7 pt-7 pb-6">
                <div class="card-body p-0 d-flex justify-content-around">
                  <div>
                    <h4 class="card-title fs-7 fw-bold mb-2">
                      No.22 線上設計展
                    </h4>
                    <p class="card-text fs-8 fw-bold mb-2">01 JUN — 31 OCT</p>
                    <p class="card-text fs-8 text-gray mb-4">全票</p>
                    <p class="card-text fs-6 fw-bold mb-0">NT$350</p>
                  </div>
                  <div
                    class="
                      d-flex
                      flex-column flex-lg-row
                      justify-content-center
                      align-items-center
                    "
                  >
                    <a href="#" class="fs-6 fw-bold mb-1 mb-lg-0 me-lg-3"
                      ><span class="material-icons"> remove </span></a
                    >
                    <p class="card-text fs-6 fw-bold mb-2 me-lg-3">01</p>
                    <a href="#" class="fs-6 fw-bold mb-1 mb-lg-0"
                      ><span class="material-icons"> add </span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 高雄設計節 -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-1">
                <a href="#" class="fs-5 fw-bold mt-1 ms-1"
                  ><span class="material-icons"> clear </span></a
                >
              </div>
              <div class="col-4 pt-7 pb-6">
                <img
                  src="./assets/images/moralis-tsai-8xsktFRw28I-unsplash.jpg"
                  alt="高雄設計節"
                  class="object-fit-cover w-100 card-img-s"
                />
              </div>
              <div class="col-7 pt-7 pb-6">
                <div class="card-body p-0 d-flex justify-content-around">
                  <div>
                    <h4 class="card-title fs-7 fw-bold mb-2">高雄設計節</h4>
                    <p class="card-text fs-8 fw-bold mb-2">01 JUN — 31 OCT</p>
                    <p class="card-text fs-8 text-gray mb-4">全票</p>
                    <p class="card-text fs-6 fw-bold mb-0">NT$350</p>
                  </div>
                  <div
                    class="
                      d-flex
                      flex-column flex-lg-row
                      justify-content-center
                      align-items-center
                    "
                  >
                    <a href="#" class="fs-6 fw-bold mb-1 mb-lg-0 me-lg-3"
                      ><span class="material-icons"> remove </span></a
                    >
                    <p class="card-text fs-6 fw-bold mb-2 me-lg-3">01</p>
                    <a href="#" class="fs-6 fw-bold mb-1 mb-lg-0"
                      ><span class="material-icons"> add </span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cart footer -->
        <div
          class="
            d-flex
            justify-content-between
            border-0
            align-items-center
            text-white
            mt-5
            mb-6
            px-4 px-lg-8
          "
        >
          <p class="fs-5 fw-bold mb-0">小計 NT$1050</p>
          <a href="checkout-1.html" class="btn btn-white link-primary btn-lg"
            >前往結帳</a
          >
        </div>
      </div>
    </header>
    <%- contents %>
    <!--猜你也喜歡list-->
    <div class="container <%- display %>">
      <h2 class="fw-bold mt-10 mb-6">猜你也喜歡...</h2>
      <div class="swiper-container mySwiper mb-10">
        <ul class="swiper-wrapper list-unstyled offset-xl-1">
          <li class="swiper-slide">
            <div class="card border-0">
              <img
                src="./assets/images/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg"
                class="card-img-top mb-1"
                alt="No.22 線上設計展"
              />
              <div class="card-body p-0">
                <h3 class="card-title fs-6 fw-bold mb-1">No.22 線上設計展</h3>
                <p class="card-text fs-6">$350</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="card border-0">
              <img
                src="./assets/images/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg"
                class="card-img-top mb-1"
                alt="No.22 線上設計展"
              />
              <div class="card-body p-0">
                <h3 class="card-title fs-6 fw-bold mb-1">No.22 線上設計展</h3>
                <p class="card-text fs-6">$350</p>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="card border-0">
              <img
                src="./assets/images/museums-victoria-kiDwVL_5ZBY-unsplash (1).jpg"
                class="card-img-top mb-1"
                alt="No.22 線上設計展"
              />
              <div class="card-body p-0">
                <h3 class="card-title fs-6 fw-bold mb-1">No.22 線上設計展</h3>
                <p class="card-text fs-6">$350</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer class="bg-cover footer mb-7 <%- display %>">
      <!-- 聯絡我們 -->
      <div
        class="
          container
          d-flex
          flex-column
          justify-content justify-content-end
          h-100
        "
      >
        <h2 class="text-white fw-bold mb-3">
          想收到展覽的最新消息嗎？<br />快訂閱我們！
        </h2>
        <div class="row">
          <div class="col-md-5 col-lg-4 mb-8">
            <div class="input-group">
              <input
                type="email"
                class="form-control py-3"
                placeholder="輸入您的電子信箱"
              />
              <button type="submit" class="btn btn-secondary py-3 w-25">
                訂閱
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- All Rights Reserved -->
      <div
        class="container d-flex justify-content-between align-items-center mb-7"
      >
        <div class="d-flex flex-column flex-lg-row align-items-lg-center">
          <a href="index.html" class="fs-5 me-4 mb-0 link-dark hover"
            >EXHIBINECTION</a
          >
          <p class="mb-0">© 2020. All Rights Reserved.</p>
        </div>
        <nav class="nav">
          <a class="nav-link d-none d-lg-block pe-2" href="#">Sign in</a>
          <a class="nav-link d-none d-lg-block" href="#">Sign up</a>
        </nav>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
