.banner {
  height: 480px;
  background-image: url("../images/banner.jpg");
}
.liveView {
  height: 482px;
  background-image: url("../images/people2.png");
}
.standard {
  height: 400px;
  background-image: url("../images/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg");
}
// footer
.footer {
  height: 400px;
  background-image: url("../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg");
}
